{
  "tenancy_ocid": "ocid1.tenancy.oc1..<tenancy_ocid>",
  "compartment_id": "ocid1.compartment.oc1..<compartment_ocid>",
  "region": "us-chicago-1",
  "deployment_mode": "oci_devops",
  "prebuilt_server_image_uri": "ghcr.io/jaydip-aics-oracle/mcp-speech-demo-audio:latest",
  "prebuilt_client_image_uri": "ghcr.io/jaydip-aics-oracle/mcp-speech-demo-client:latest",
  "devops_repository_id": "ocid1.devopsrepository.oc1.<region>.<repository_ocid>",
  "devops_repository_url": "https://devops.scmservice.<region>.oci.oraclecloud.com/namespaces/<namespace>/projects/<project>/repositories/<repo>",
  "devops_source_branch": "one-click-deployment",
  "devops_build_spec_path": "build_spec.yaml",
  "devops_deploy_namespace": "mcp",
  "current_user_ocid": "ocid1.user.oc1..<user_ocid>",
  "ocir_auth_token": "<OPTIONAL_IF_USER_HAS_2_AUTH_TOKENS>",
  "devops_server_secret_json": "{\"SPEECH_LANGUAGE_CODE\":\"auto\"}",
  "devops_client_secret_json": "{\"AGENT_RECURSION_LIMIT\":\"40\"}",
  "genai_model_id": "cohere.command-a-03-2025",
  "genai_provider": "cohere",
  "genai_model_temperature": 0.0,
  "genai_model_max_tokens": 4096
}
